{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/day/{{ food._id }}?_method=PUT" method="post">
    <fieldset>
      <legend>Edit {{ food.food }}</legend>
      <label>
        FOOD:<input
          type="text"
          name="name"
          placeholder="enter food name"
          value="{{ food.food }}"
        />
      </label>
      <label>
        COLOR:<input
          type="text"
          name="color"
          placeholder="enter food name"
          value="{{ food.color }}"
        />
      </label>
      <label>
        READY TO EAT:<input type="checkbox" name="readyToEat" {% if
        food.readyToEat == true %} checked {% endif %} />
      </label>
    </fieldset>
    <input type="submit" value="Edit {{ food.food }}" />
  </form>
</div>
{% endblock %}
